In [ ]:
# Build an AI and ML Model that predicts AQI level using historical air pollution and weather data, helping pollution control and awwareness

In [16]:
import pandas as pd
import numpy as np
df= pd.read_csv("station_day.csv")
print(df.head())

  StationId        Date  PM2.5    PM10    NO    NO2    NOx    NH3    CO  \
0     AP001  24-11-2017  71.36  115.75  1.75  20.65  12.40  12.19  0.10
1     AP001  25-11-2017  81.40  124.50  1.44  20.50  12.08  10.72  0.12
2     AP001  26-11-2017  78.32  129.06  1.26  26.00  14.85  10.28  0.14
3     AP001  27-11-2017  88.76  135.32  6.60  30.85  21.77  12.91  0.11
4     AP001  28-11-2017  64.18  104.09  2.56  28.07  17.01  11.42  0.09

     SO2      O3  Benzene  Toluene  Xylene    AQI AQI_Bucket
0  10.76  109.26     0.17     5.92    0.10    NaN        NaN
1  15.24  127.09     0.20     6.50    0.06  184.0   Moderate
2  26.96  117.44     0.22     7.95    0.08  197.0   Moderate
3  33.59  111.81     0.29     7.63    0.12  198.0   Moderate
4  19.00  138.18     0.17     5.02    0.07  188.0   Moderate

In [17]:
df.shape

(108035, 16)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108035 entries, 0 to 108034
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   StationId   108035 non-null  object
 1   Date        108035 non-null  object
 2   PM2.5       86410 non-null   float64
 3   PM10        65329 non-null   float64
 4   NO          90929 non-null   float64
 5   NO2         91488 non-null   float64
 6   NOx         92535 non-null   float64
 7   NH3         59930 non-null   float64
 8   CO          95037 non-null   float64
 9   SO2         82831 non-null   float64
 10  O3          82467 non-null   float64
 11  Benzene     76580 non-null   float64
 12  Toluene     69333 non-null   float64
 13  Xylene      22898 non-null   float64
 14  AQI         87025 non-null   float64
 15  AQI_Bucket  87025 non-null   object
dtypes: float64(13), object(3)
memory usage: 12.0+ MB

In [19]:
df.isnull()

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,False,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
108031,False,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
108032,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
108033,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
108034,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [20]:
df.isnull().sum()

StationId         0
Date              0
PM2.5         21625
PM10          42706
NO            17106
NO2           16547
NOx           15500
NH3           48105
CO            12998
SO2           25204
O3            25568
Benzene       31455
Toluene       38702
Xylene        85137
AQI           21010
AQI_Bucket    21010
dtype: int64

In [21]:
df=df.drop(columns=["NH3"])

In [22]:
df.isnull().sum()

StationId         0
Date              0
PM2.5         21625
PM10          42706
NO            17106
NO2           16547
NOx           15500
CO            12998
SO2           25204
O3            25568
Benzene       31455
Toluene       38702
Xylene        85137
AQI           21010
AQI_Bucket    21010
dtype: int64

In [24]:
df.fillna(0,inplace=True)

In [26]:
from sklearn.preprocessing import StandardScaler 
scaler=StandardScaler()
df[['PM2.5','PM10','NO','NO2','NOx','CO','SO2','O3']]=scaler.fit_transform(df[['PM2.5','PM10','NO','NO2','NOx','CO','SO2','O3']])